@page
@model THC_CHURCH_WEBSITE.Pages.ContactModel
@{
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="Webcontainer">

        @if (!string.IsNullOrEmpty(Model.
        StatusMessage))
        {
            <div class="alert alert-info alert-dismissible fade show" role="alert">
                @Model.StatusMessage
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
        }
    </div>


    <style>
        .form-group {
            text-align: center;
        }

            .form-group input,
            .form-group select,
            .form-group textarea {
                display: block;
                margin: 0 auto;
            }
    </style>

    <h1 class="text-center">Branches</h1>
    <div class="grid-container">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="...">
            <div class="card-body">
                <h5 class="card-title">Deliverance Worship Centre</h5>
                <p class="card-text">
                    Centre Leader:Pastor Z M Mabuza<br>
                    Phone Number:072 376 7646<br>
                </p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="/css/images/Pastor AP Khoza - Magudu Worship Center.jpg">
            <div class="card-body">
                <h5 class="card-title">Magudu Worship Centre</h5>
                <p class="card-text">
                    Centre Leader:Evangelist/Pastor A P Khoza <br>
                    Phone Number:079 486 7240<br>
                    <br>
                </p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="/css/images/Evangelist Mahlalela.jpg">
            <div class="card-body">
                <h5 class="card-title">Emtin’ lomusha Worship Centre</h5>
                <p class="card-text">
                    Centre Leader: Evangelist/ Pastor J S Mahlalela <br>
                    Phone Number:076 129 1697<br>
                </p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="/css/images/Evangelist Mahlalela.jpg">
            <div class="card-body">
                <h5 class="card-title">Tsambokhulu Worship centre</h5>
                <p class="card-text">
                    Centre Leader: Evangelist/ Pastor J S Mahlalela <br>
                    Phone Number:076 129 1697<br>
                </p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="/css/images/Evangelist Malungisa.jpeg">
            <div class="card-body">
                <h5 class="card-title">KaMandulo Worship Centre</h5>
                <p class="card-text">
                    Centre Leader: Evangelist/ Pastor J B Malungisa<br>
                    Phone Number:082 907 1158<br>
                </p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="/css/images/Evangelist Malungisa.jpeg">
            <div class="card-body">
                <h5 class="card-title">Khomba-so Worship Centre</h5>
                <p class="card-text">
                    Centre Leader: Evangelist/ Pastor J B Malungisa<br>
                    Phone Number:082 907 1158<br>
                </p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="...">
            <div class="card-body">
                <h5 class="card-title">Likazi Worship Centre</h5>
                <p class="card-text">
                    Centre Leader: Teacher/ Pastor N R Maocha <br>
                    Phone Number:076 046 0030<br>
                    <br>
                </p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="/css/images/Apostle BC Nsingwane - Founder of the HTC.jpg">
            <div class="card-body">
                <h5 class="card-title">Elim Worship Centre</h5>
                <p class="card-text">
                    Centre Leader: Apostle B C Nsingwane <br>
                    Phone Number:082 785 5281 <br>
                    <br>
                </p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="/css/images/Apostle BC Nsingwane - Founder of the HTC.jpg">
            <div class="card-body">
                <h5 class="card-title">Mananga Worship Centre</h5>
                <p class="card-text">
                    Centre Leader: Apostle B C Nsingwane <br>
                    Elder Name: Evangelist M R Masilela <br>
                    Phone Number:082 785 5281
                    <br>
                </p>

            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="/css/images/Apostle BC Nsingwane - Founder of the HTC.jpg">
            <div class="card-body">
                <h5 class="card-title">Masibekela Worship Centre</h5>
                <p class="card-text">
                    Centre Leader: Apostle B C Nsingwane <br>
                    Phone Number:082 785 5281<br>
                    <br>
                    <br>
                </p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="/css/images/Apostle BC Nsingwane - Founder of the HTC.jpg">
            <div class="card-body">
                <h5 class="card-title">Nhlabaville Worship Centre</h5>
                <p class="card-text">
                    Centre Leader: Apostle B C Nsingwane <br>
                    Phone Number:082 785 5281<br>
                    <br>
                    <br>
                </p>

            </div>


        </div>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="/css/images/Evangelist GV Nsingwane - Matsulu Worship Center.jpg">
            <div class="card-body">
                <h5 class="card-title">Nhlazatje No. 6 Worship Centre</h5>
                <p class="card-text">
                    Centre Leader: Evangelist/ Pastor G V Nsingwane<br>
                    Phone Number:072 911 5501<br>
                    <br>
                    <br>
                </p>

            </div>


        </div>

        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="/css/images/Evangelist GV Nsingwane - Matsulu Worship Center.jpg">
            <div class="card-body">
                <h5 class="card-title">Thokoza Worship Centre</h5>
                <p class="card-text">
                    Centre Leader: Evangelist/ Pastor G V Nsingwane<br>
                    Phone Number:072 911 5501 <br>
                    <br>
                    <br>
                </p>

            </div>

        </div>

        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="/css/images/Prophet TL Ndlala - Lead Shephered.jpg">
            <div class="card-body">
                <h5 class="card-title">Mhlangatane Worship Centre</h5>
                <p class="card-text">
                    Centre Leader: Prophet/ Pastor T L Ndlala<br>
                    Elder Name: Evangelist L M Sifundza<br>
                    Phone Number:082 474 7679 <br>

                </p>
            </div>


        </div>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="/css/images/Prophet TL Ndlala - Lead Shephered.jpg">
            <div class="card-body">
                <h5 class="card-title">Mzinti/Tonga Worship Centre</h5>
                <p class="card-text">
                    Centre Leader: Prophet/ Pastor T L Ndlala<br>
                    Phone Number:082 474 7679 <br>
                    <br>
                    <br>

                </p>

            </div>

        </div>
    </div>

    <br>
    <br>
    <br>

    <h2 class="text-center" style="text-decoration: underline">BECOME A MEMBER.</h2>
    <h3 class="text-center"><br> Join Our Mailing List!</h3>

    <form class="AboutUsModern-form" method="get">
        <div class="AboutUsForm-group">
            <label for="InputEmail1">Email address</label>
            <input type="email"
                   class="AboutUsForm-control"
                   id="InputEmail1"
                   name="InputEmail1"
                   aria-describedby="emailHelp"
                   placeholder="Enter email"
                   required />
        </div>

        <div class="AboutUsForm-group">
            <label for="InputFirstName">First Name</label>
            <input type="text"
                   class="AboutUsForm-control"
                   id="InputFirstName"
                   name="InputFirstName"
                   placeholder="Enter First Name"
                   required />
        </div>

        <div class="AboutUsForm-group">
            <label for="InputLastName">Last Name</label>
            <input type="text"
                   class="AboutUsForm-control"
                   id="InputLastName"
                   name="InputLastName"
                   placeholder="Enter Last Name"
                   required />
        </div>

        <div class="AboutUsForm-group">
            <label for="sel1">Worship Center</label>
            <select class="AboutUsForm-control" id="sel1" name="sel1">
                @foreach (var churchName in Model.GetChurchNames())
                {
                    // Split the string by comma and get the second element, which is the name
                    string name = churchName.Split(',')[1];
                    <option value="@churchName">@name</option>
                }
            </select>
        </div>

        <div class="AboutUsForm-group">
            <label for="InputReason">Enter why you want to join the church</label>
            <textarea class="AboutUsForm-control"
                      id="InputReason"
                      name="InputReason"
                      rows="3"
                      required></textarea>
        </div>

        <button type="submit" class="AboutUsBtn-primary">Submit</button>
    </form>


</body>
</html>

