@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="privacy-view">
        <header>
            <div class="privacy-header">
                <img class="privacy-logo" src="/css/Images/NewChurchCIlogo.png" alt="Your Image">
            </div>
        </header>

        <h1 class="privacy-heading">@ViewData["Title"]</h1>
        <br>
        <main class="privacy-page">
            <div class="privacy-content">
                <p>
                    Copyright Notice:
                    <br>
                    All rights reserved. The material on this document is copyrighted by the Harvest Tabernacle Church (H.T.C.). Please respect their rights.
                    <br />
                    Permission is only given to read the material and keep it for your future personal reference, not for commercial purposes. If you are not a member of the H.T.C., please return it to any member of the Church you know or to P.O. Box 46, MASIBEKELA, 1342.
                    <br />
                    You may not further duplicate this document without permission from the National, District, Worship Centre Board, or Spiritual Leadership of the H.T.C. You may not distribute this document for any reason other than to further the purpose of the H.T.C.
                    <br />
                    There are no alterations or changes to be made on the material and on the document as such other than following the legal procedures stipulated in this document. Once you keep a copy of this document, you agree to abide and to be bound by the rules herein.
                    <br />
                    <br />
                    Copyright © 2006
                </p>
            </div>
        </main>
    </div>
</body>
</html>
